<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Laptop CHE-LAPTOP -->
		<!-- Desktop CARLOS -->
    <!-- Desktop PACHECOSERVER\PACHECOMOTORS; DataBase = PachecoMotors; -->
		<add  name="cn" connectionString="Server = PACHECOSERVER\PACHECOMOTORS; DataBase = Pac; Integrated Security = true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>