<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Laptop CHE-LAPTOP\CARLOSJ -->
		<!-- Desktop CARLOSJ\CARLOSJ22 -->
    <!-- Desktop PACHECOSERVER\PACHECOMOTORS; DataBase = PachecoMotors; -->
		<add  name="cn" connectionString="Server = CARLOSJ\CARLOSJ22; DataBase = PachecoMotors; Integrated Security = true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>