<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Laptop CHE-LAPTOP\CARLOSJ -->
		<!-- Desktop CARLOS -->
    <!-- Desktop PACHECOSERVER\PACHECOMOTORS; DataBase = PachecoMotors; -->
    <!-- Desktop DESKTOP-MF7CCSN\SQLEXPRESS; DataBase = AlvaroTruck; -->
		<add  name="cn" connectionString="Server = CHE-LAPTOP\CARLOSJ; DataBase = AlvaroTruck; Integrated Security = true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>